html, body {
    height: 100%;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
}

input.url {
    width: 500px;
}

button.get-short-url {
    width: 266px;
}


