<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Short URL{% endblock %}</title>
    {% block stylesheets %}
        <link rel="stylesheet" href="{{ asset('build/app-css.css') }}">
        <link rel="stylesheet" href="{{ asset('build/app-js.css') }}">
    {% endblock %}
</head>
<body>
{% block body %}
    <div class="container">
        <div class="get-url-block">
            <input class="url uk-input" type="text">
            <button class="get-short-url uk-button uk-button-default">Get my short URL</button>
        </div>
        <div class="uk-card uk-card-body">
            <span class="short-url uk-animation-slide-bottom"></span>
        </div>
    </div>
{% endblock %}
{% block javascripts %}
    <script src="{{ asset('build/runtime.js') }}"></script>
    <script src="{{ asset('build/vendors~app-css~app-js.js') }}"></script>
    <script src="{{ asset('build/vendors~app-js.js') }}"></script>
    <script src="{{ asset('build/app-css.js') }}"></script>
    <script src="{{ asset('build/app-js.js') }}"></script>
{% endblock %}
</body>
</html>
